
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.etch-play {
  background: #fc1f7d;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.list-group-item {
  font-weight: bold;
  font-size: 14px;
  
  .badge {
    font-size: 16px;
    color: #fff;
  }

  a {
    color: #212529;
  }
}

.is-current-game {
  font-weight: bold;
  color: $red;
}